@import "tailwindcss";
@import "tw-animate-css";
@import "tailwindcss-animated";

@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");


body {
  background: #f2efe7;
}

@theme {
  --color-primary: #006a71;
  --color-secondary: #48a6a7;
  --color-background: #f3f4f6;
  --color-ace: #9acbd0;
}

.rubik {
  font-family: "Rubik", sans-serif;
}

.alexandria {
  font-family: "Alexandria", sans-serif;
}
